<div class="pattern-create">
    @if(pattern.title==''){
        <button mat-flat-button color="primary" (click)="openDialogPattern()">{{_patternCreateTexts.addPattern}}</button>
    }
    @else{
        <h1>{{_patternCreateTexts.patterntitle}} {{pattern.title}}</h1>
        <button mat-flat-button color="primary" (click)="openDialogChapter()">{{_patternCreateTexts.addChapter}}</button>
    }
    @if(pattern){

        <ul>
            @for(elt of pattern.chapter; track elt.id){
                <li><h2>{{_patternCreateTexts.chapterTitle}} {{elt?.title}}</h2></li>
                <ul>
                    @for(todo of elt.todos; track todo.id){
                        <li>
                            <span>{{todo.action}}</span>
                            @if(todo.nbstitch){ 
                                <span> ({{todo.nbstitch}})</span>
                            }
                        </li>
                    }
                </ul>
                }
        </ul>
        @if(pattern.chapter.length != 0){
            <button mat-flat-button color="accent" (click)="sendPattern()">{{_patternCreateTexts.send}}</button>
        }
       
    }

</div>



