<div class="pattern-elt">
    @if(pattern){
        <h1>{{_patternEltTexts.title}} {{pattern[0].title}}</h1>
        <p>{{_patternEltTexts.nbChapter}} {{pattern[0].chapter.length}}</p>
        @for(chapter of pattern[0].chapter; track chapter; let index = $index){
             <h3>{{_patternEltTexts.chapter}} {{index+1}} : {{chapter.title}}</h3>
             <ul>
                 @for(todo of chapter.todos; track todo.id){
                     <li>
                         <span>{{todo.action}}</span>
                         @if(todo.number){ 
                             <span> ({{todo.number}})</span>
                         }
                     </li>
                 }
             </ul>
         }   
    }
</div>

 
