@if(pattern){
    <h1>Titre: {{pattern.title}}</h1>
    <p>Nombre de chapitre : {{pattern.chapter.length}}</p>
    @for(chapter of pattern.chapter; track chapter; let index = $index){
         <h3>Chapitre {{index+1}} : {{chapter.title}}</h3>
         <ul>
             @for(todo of chapter.todos; track todo.id){
                 <li>
                     <span>{{todo.action}}</span>
                     @if(todo.number){ 
                         <span> ({{todo.number}})</span>
                     }
                 </li>
             }
         </ul>
     }   
 }
 
